.calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 5px;
    padding: 10px;
  }
  
  input[type="text"] {
    grid-column: span 4;
  }
  
  button {
    height: 50px;
    font-size: 20px;
  }
